.main-form{
	position: relative;
	top: -40px;

	width: @mobile-width;

	z-index: 20;

	& h3{
		color: #d22856;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
		text-align: center;

		margin-bottom: 30px;
	}
	& legend{
		display: none;
	}

	& input::placeholder{
		color: #283645;
	}

	.main-form__inputs--legtoggle{
		display:none;
	}
}

.main-form__inputs{
	border: none;

	margin:0;
	padding: 19px;

	&:nth-child(odd){
		background-color: #f2f2f2;
	}
	&:nth-of-type(1){
		padding-top: 0;
	}
}

.page-main--opened-nav .title-form{
	padding: 0;
	height: auto;
	margin-top: 175px;
}

.input__list-item{
	margin-bottom: 22px;
}

.show-legend-form{
	display: none;
}

.input__list-item.item-names,
.input__list-item.item-contacts{
	color: #d22856;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;

	& p:not(input){
		margin-left: 22px;
		margin-bottom: 0;
	}

	& input[type="text"] {
		width: 230px;
		min-height: 58px;
		border: 2px solid #e5e5e5;

		font-size: 18px;
		line-height: 30px;
		font-weight: 400;

		color: #283645;
		background-color: #ffffff;

		padding-left: 22px;
		padding-right: 22px;

		margin-bottom: 0;
	}
}

.main-form__inputs-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-form__general{
	display: flex;
	flex-direction: column;
}
.main-form__inputs{
	&.inputs-names{
		order: 0;
	}
	&.inputs-attachment{
		order: 3;
	}
	&.inputs-progress{
		order: 1;
	}
	&.inputs-contacts{
		order: 2;
	}
	&.inputs-amotion{
		order: 4;
	}
}

//Псевдоэлементы на CHECKBOX и RADIO
.input__list-item.item-progress,
.input__list-item.item-attachment{
	position: relative;

	& .item__paragraph{
		padding-left: 60px;
	}
}
.input__list-item input[type="checkbox"] + .checkbox-indicator{
		&::after{
		content: "";

		position: absolute;
		top: 11px;
		left: 0;
		width: 35px;
		height: 35px;

		border: 2px solid #e5e5e5;
		border-radius: 3px;
		box-sizing: border-box;
		background-color: #ffffff;
	}
}
.input__list-item:hover input[type="checkbox"] + .checkbox-indicator,
.input__list-item:focus input[type="checkbox"] + .checkbox-indicator{
	&::after{
		border-color: #283645;
	}
}
.input__list-item:active input[type="checkbox"] + .checkbox-indicator{
	&::after{
		border-color: #d22856;
	}
}

.input__list-item input[type="checkbox"]:checked + .checkbox-indicator{
	&::after{
		background-image: url("../img/icon-yes--red.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}

.input__list-item input[type="radio"] + .checkbox-indicator{
	&::before{
		content: "";

		position: absolute;
		top: 11px;
		left: 0;
		width: 34px;
		height: 34px;

		border: 2px solid #e5e5e5;
		border-radius: 50%;
		box-sizing: border-box;
		background-color: #ffffff;
	}
}

.input__list-item:hover input[type="radio"] + .checkbox-indicator,
.input__list-item:focus input[type="radio"] + .checkbox-indicator{
	&::before,
	&::before{
		border-color: #283645;
	}
}
.input__list-item:active input[type="radio"] + .checkbox-indicator{
	&::before{
		border-color: #d22856;
	}
}

.input__list-item input[type="radio"]:checked + .checkbox-indicator{
	&::after{
		content: "";
		position: absolute;

		top: 20px;
		left: 10px;

		width: 15px;
		height: 15px;

		background-color: #d22856;
		background-repeat: no-repeat;
		background-position: center;

		border-radius: 50%;
	}
}
////////////////
///
.input__list-item.item-progress,
.input__list-item.item-attachment{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-content: baseline;
}
.item-attachment-paragraph{
	margin-bottom: 10px;
}
.main-form__inputs textarea[name="amotion"]{
	width: 232px;
	min-height: 167px;
	border: 2px solid #e5e5e5;
	border-radius: 1px;


	color: #283645;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;

	padding: 20px;

	margin-top: -10px;
}

.button-form-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	& .intro__form--desctop{
		display: none;
	}

	//margin-bottom: 50px;
}

.button-form{
	.button_form();

	width: 276px;
	height: 59px;

	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;

	border-radius: 3px;

	margin-top: 37px;
	margin-bottom: 25px;
}

.intro__form{
	color: #283645;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;

	text-align:center;
	text-transform: uppercase;

	& .intro__form--red_simbol{
		color: #d22856;
	}
}



@media(min-width: @tablet-width){
	.main-form{
		width: @tablet-width;

		top: -170px;
		
		padding-top: 30px;

		z-index: 20;

		& h3{
			display: none;
		}

		& legend{
			display: block;

			color: #d22856;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;

			padding: 12px 25px;

			margin: 0 auto;
			text-align: center;
		}

		&:nth-of-type(1){
			padding-top: 0;
		}
	}
	.main-form__inputs--legtoggle{
		display:none;
	}

	.main-form__inputs:not(:nth-of-type(1)){
		border: 2px solid #e5e5e5;

		margin: 0 20px;
		padding: 15px 55px;

		background-color: #ffffff;
	}

	.main-form__general{
		& .inputs-names{
			padding-top: 20px;
			padding-bottom: 5px;
			margin-bottom: 5px;
			order: 0;
		}
		& .inputs-attachment{
			margin-bottom: 60px;
			order: 1;
		}
		& .inputs-progress{
			margin-bottom: 35px;
			order: 3;
		}
		& .inputs-contacts{
			margin-bottom: 20px;
			order: 2;
		}
		& .inputs-amotion{
			margin-bottom: 60px;
			order: 4;
		}
		& .button-form-wrapper{
			order: 5;
		}
	}

	.show-legend-form{
		display: inline;
	}

	.main-form__general{
		display: flex;
		flex-direction: column;
	}
	.main-form__inputs-list{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input__list-item{
		display: flex;
		flex-direction: row;

		margin-bottom: 35px;
	//Форма ввода телефона
		&.item-contacts{
			flex-direction: column-reverse;
			//Убираем двоеточие
			& .item-names-paragraph--toggle{
				display: none;
			}
		}
	}
	.item-attachment{
		margin-bottom: 25px;
	}
	.item-progress{
		margin-bottom: 23px;
	}

	.input__list-item.item-names,
	.input__list-item.item-contacts{
		color: #d22856;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		text-transform: uppercase;

		& p:not(input){
			margin: 22px;
		}
		& .item-input-name:not(input){
			margin-left: 0;
		}
		& .item-input-contact{
			margin-top: 15px;
		}
		
		& input[type="text"] {
			width: 100%;
			height: 20%;
			border: 2px solid #e5e5e5;

			font-size: 18px;
			line-height: 30px;
			font-weight: 400;

			color: #283645;
			background-color: #ffffff;

			padding-left: 22px;
			padding-right: 22px;
		}
	}

	.input__list-item.item-contacts{
		padding-bottom: 0;
		margin-bottom: 10px;

		& input[type="text"]{
			width: 90%;
		}

		& #telephone{
			background-image: url("../img/icon-phone.svg"), url("../img/form_icon-back.svg");
			background-position: 96% center, right center;
			background-repeat: no-repeat, no-repeat;
		}
		& #mail{
			background-image: url("../img/icon-mail.svg"), url("../img/form_icon-back.svg");
			background-position: 96% center, right center;
			background-repeat: no-repeat, no-repeat;
		}
	}

	.main-form__inputs textarea{
		min-width: 496px;
	}

	fieldset.button-form-wrapper{
		border: none;
		outline: none;
	}

	.button-form-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 0;
	}

	.button-form{
		width: 305px;
	}
	
}

@media(min-width: @desctop-width){
	.main-form{
		width: @desctop-width;
		margin: 0 auto;	
	}
	.main-form__general{
		width: @desctop-width;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.main-form__inputs{
		background-color: #f2f2f2;
	}

	.input__list-item.item-names,
	.input__list-item.item-contacts{

		& p:not(input){
			margin: 22px;
		}
		& .item-input-name:not(input){
			margin-left: 0;
		}
		& .item-input-contact{
			margin-top: 15px;
		}
		
		& input[type="text"] {
			width: 100%;
			border: 2px solid #e5e5e5;

			font-size: 18px;
			line-height: 30px;
			font-weight: 400;

			color: #283645;
			background-color: #ffffff;

			padding-left: 22px;
			padding-right: 22px;
		}
	}
	
	.main-form__general{
		.inputs-names{
			width: 30%;
		}
		.inputs-attachment{
			width: 30%;
		}
		.inputs-contacts{
			width: 100%;
		}
		.inputs-progress{
			width: 100%;
	
			& .input__progress{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
		.inputs-amotion{
			width: 100%;
	
			margin-bottom: 0;
	
			& textarea[name="amotion"]{
				width: 94%;
				margin-right: 30px;
			}
		}
	}

	.input__contacts{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		padding-right: 60px;
	}

	.button-form-wrapper{
		width: 100%;

		& .intro__form--desctop{
			display: inline;
		}
	}
}