.photo-form{
	background-color: #f2f2f2;
}
.form__general-photo{
	padding:20px; 
	border: none;

	margin-bottom: 20px;
}

.photo-form__general-icons{
	border: none;
	padding: 0;
	margin: 0;
}

.photo-form__icon-list{
	.no_list_style();

	display: flex;
	justify-content: center;

	margin-bottom: 20px;
}

.photo-form__icon-item{
	margin: 0 18px;
	cursor: pointer;
}
.photo-form__icon-pic{
	height: auto;

	&--crop{
		width: 44px;
	}
	&--fill{
		width: 48px;
	}
	&--contrast{
		width: 32px;
	}

	& .icon--color {
		fill: rgba(34, 51, 68, 0.3);
	}
}
.photo-form__icon-pic--active{
	& .icon--color {
		fill: #D22856;
	}
}

.photo-form__range{
	position: relative;

	border: none;
	//border: 2px solid #d22856;
	
	margin-bottom: 60px;

	&::before{
		content: "";

		position: absolute;
		top: 50%;
		left: 15%;

		width: 70%;
		height: 2px;

		background-color: #283645;
	}

	&::after{
		content: "";

		position: absolute;
		bottom: -30px;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: #dedfe1;
	}
}
.photo-form__range-cursor{
	&::before{
		content: "";

		position: absolute;
		top: 15%;
		left: 50%;

		width: 14px;
		height: 14px;

		border: 2px solid #d22856;
		border-radius: 50%;
		box-sizing: border-box;

		background-color: #f2f2f2;
	}
}

.photo-form__optional-regular{
	display: none;
}

.photo-form__general-buttons{
	display: grid;
	grid-gap: 10px;

	border: none;
}

.photo-form__general-button{
	.button_upload();

	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;

	width: 280px;
	height: 55px;

	border-radius: 50px;
}

.button-submit{
	color: #d22856;
	border: 3px solid #d22856;
	background-color: #f2f2f2;

	&:hover,
	&:focus{
		color: #ffffff;
		background-color: #d22856;
	}

	&:active{
		color: rgba(255, 255, 255, 0.3);
		background-color: #d22856;
	}
}

.button-cancel{
	color: rgba(39, 54, 69, 0.1);
	border: 3px solid rgba(39, 54, 69, 0.3);
	background-color: #f2f2f2;

	&:hover,
	&:focus{
		color: rgba(39, 54, 69, 0.3);
		background-color: #f2f2f2;
	}

	&:active{
		border: 3px solid rgba(39, 54, 69, 0.3);
		background-color: rgba(39, 54, 69, 0.3);
	}
}

@media(min-width: @tablet-width){
	.photo-form__general{
		display: flex;

		padding: 10px; 
		padding-top: 40px;
		border: none;

		margin-bottom: 20px;
	}

	.photo-form__icon-list{
		flex-direction: column;
		margin-top: 20px;

		margin-bottom: 30px;
	}
	
	.photo-form__icon-item{
		position: relative;

		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;

		margin: 0 0 50px 25px;

		&::after{
			content: "";

			position: absolute;
			bottom: -25px;
			left: 0;

			width: 100%;
			height: 1px;

			background-color: #dedfe1;
		}
	}
	.photo-form__icon-pic{
		
		height: auto;

		&--crop{
			width: 22px;
		}
		&--fill{
			width: 24px;
		}
		&--contrast{
			width: 16px;
		}

		& .icon--color {
			fill: #D22856;
		}

		& .icon--color {
			fill: #D22856;
		}
	}

	.photo-form__general-regular{
		display: none;
	}
	.photo-form__optional-regular{
		display: block;

		&::after{
			display: none;
		}
	}
	.photo-form__range{
		margin-bottom: 0;
		width: 100%;
	}

	.photo-form__general-buttons{
		grid-gap: 25px;
	}

	.photo-form__general{
		margin-bottom: 0;
	}
}

@media(min-width: @desctop-width){
	.photo-form{
		width: 940px;
		margin: 0 auto;

		background-color: #f2f2f2;
	}

	.photo-form__general{
		padding: 35px 60px; 

		border: none;

		margin-bottom: 0;
	}

	.photo-form__icon-pic{
		height: auto;

		&--crop{
			width: 44px;
		}
		&--fill{
			width: 48px;
		}
		&--contrast{
			width: 32px;
		}

		& .icon--color {
			fill: #D22856;
		}
	}
	.photo-form__icon-list{
		margin: 0 auto;
		margin: 20px 40px;
		margin-bottom: 40px;
	}
	.photo-form__icon-item{
		display: flex;
		justify-content: space-between;
		align-content: baseline;

		margin: 0 0 50px 25px;
	}
	
	.photo-form__range{
		width: 250px;
		//margin-left: 25px;
	}
	.photo-form__panel-wrapper{
		position: relative;
	}
	.photo-form__general-buttons{
		position: absolute;

		bottom: 8%;
		right: 0;

		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
	}
	.photo-form__general-button{
		width: 180px;
		height: 55px;

		border-radius: 50px;
	}
}