.no_outline(){
	outline: none;
	list-style: none;
	background:transparent;

	&::before{
		display: none;
	}
}

.buttons(){
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	box-sizing: border-box;
}
.button_download(){
	.buttons();

	border: 3px solid #ffffff;
	background: transparent;

	&:hover{
		background-color: #ffffff;
		box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
		color: #d22856;
	}
	&:focus{
		background-color: #ffffff;
		color: rgba(210, 40, 86, 0.3);
	}
}

.button_upload(){
	.buttons();

	border: 3px solid #d22856;
	background: transparent;

	&:hover{
		background-color: #d22856;
		color: #ffffff;
	}
	&:focus{
		color: rgba(255, 255, 255, 0.3);
	}
}

.button_form(){
	.buttons();

	border: 2px solid #2aab6d;
	background-color: #2aab6d;
	color: #ffffff;
	text-transform: uppercase;

	&:hover{
		border: 2px solid #1c9b5e;
		background-color: #1c9b5e;
	}
	&:focus{
		color: rgba(255, 255, 255, 0.3);
	}
	&:disabled{
		border: 2px solid #e5e5e5;
		background-color: #e5e5e5;
		color: #ffffff;
	}
}


//Отрисовка псевдоэлемента для создания эффекта "переход-гильотина"
//	@wsize, @hsize, @top
//Ширина экрана, высота элемента, смещение вверх
.info_advatages__wrap-items(@wsize, @hsize, @top){
	position:relative;

	background-color: #f2f2f2;

	&::before{
		position: absolute;
		content: "";
		top: -@top;

		width: @wsize;
		height: @hsize;

		transform: skewY(-5deg);
		
		background-color: #f2f2f2;
		z-index: -1;
	}
}