@font-face{
    font-weight: normal;
    font-family: "Open Sans";
    font-style: normal;
    src: url("fonts/OpenSans-Regular.ttf") format("ttf"),
    url("fonts/OpenSans-Regular.ttf") format("woff");
}
@font-face{
    font-weight: bold;
    font-family: "Open Sans";
    font-style: normal;
    src: url("fonts/OpenSans-Bold.ttf") format("ttf"),
    url("fonts/OpenSans-Bold.ttf") format("ttf");
}
*{
    outline: 2px solid rgba(102, 255, 102, 1);
    background: rgba(102, 255, 102, 0.15);
}

body{
    width: @mobile-width;
    margin: auto;
    padding: auto;

    background: #ffffff;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a{
    color: #ffffff;
}
img{
    width: 100%
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden{
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: @tablet-width){
    body{
        width: @tablet-width;
        margin: auto;
        padding: auto;
    }
}
@media (min-width: @desctop-width){
    body{
        width: @desctop-width;
        margin: auto;
        padding: auto;
    }
}