.intro{
	width: 320px;
	position: relative;
	top: -66px;
	margin-bottom: -66px;

	text-align: center;
	box-sizing: border-box;
	background-color:#1d2631;

	z-index: 50;
}
.intro__header{
	height: 462px;
	background-color:#1d2631;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.intro__slogan{
	display: none;
}

.intro__logos-download-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.intro__logos-download{
	.button_download();
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;

	width: 281px;
	height: 55px;

	border-radius: 50px;
}