.main-nav{
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;

	width: auto;
	min-height: 66px;
	margin: 0 auto;

	background-color: #283645;
	color: #ffffff;

	font-size: 18px;
	line-height: 32px;
	text-transform: uppercase;

	z-index: 20;
}
/*
.main-nav__toggle-wrapper{
	display: flex;
	order: 0;
}
*/
.main-nav__toggle{
	position: absolute;
	top: 0;
	right: 0;

	width: 24px;
	height: 23px;

	background-color: transparent;
	cursor: pointer;
	border: none;

	z-index: 20;
}

.main-nav--closed .main-nav__toggle::before{
	content: "";

	position: absolute;
	top: 21px;
	left: 20px;

	width: 50px;
	height: 4px;

	background-color: #ffffff;
	box-shadow: 0 10px 0 0 #ffffff,
				0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:hover::before{
	background-color: #d22856;
	box-shadow: 0 10px 0 0 #d22856,
				0 20px 0 0 #d22856;
}
.main-nav--closed .main-nav__toggle:active::before{
	background-color: rgba(210, 40, 86, 0.3);
	box-shadow: 0 10px 0 0 #d22856,
				0 20px 0 0 #d22856;
}

.main-nav--opened{
	position: relative;
	top: -66px;
	left: 0;
	margin: 0 auto;
	background-color: transparent;
}

.main-nav--opened .main-nav__toggle{
	top: 8px;
	right: 15px;

	&::before,
	&::after{
		content: "";

		position: absolute;
		top: 22px;
		right: 20px;

		width: 30px;
		height: 5px;
		border-radius: 2px;

		background-color: #ffffff;
	}

	&::before{
		transform: rotate(45deg);
	}
	&::after{
		transform: rotate(-45deg);
	}

	&:hover::before,
	&:hover::after{
		background-color: #d22856;
	}
	&:active::before
	&:active::after{
		background-color: rgba(210, 40, 86, 0.3);
	}
}
/*
.main-nav--opened .site-list{
	position: relative;
}
*/
.main-nav__list{
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

@media(min-width: @tablet-width){
	.main-nav{
		width: @tablet-width;
		margin: 0;

		background-color: rgba(24, 32, 41, 0.3);
	}

	.main-nav__wrapper{
		display: flex;
		justify-content: space-between;
		width: @tablet-width;
		margin: 0 auto;
	}

	.main-nav--opened .main-nav__toggle{
		top: 45px;
		right: 40px;
	}
}